.form {
    max-width: 950px;
    flex-direction: column;
}

.fieldset {
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
    gap: 12px;
}

.input {
    max-width: 203px;
}

.buttonNormal {
    min-width: 174px;
}

.buttonWide {
    min-width: 361px;
}

.list {
    display: flex;
    align-items: center;
    margin-top: 54px;
}